### Regular expressions

In [6]:
import re
# ^-starting with,$-ends,*-all the characters b/w them

In [7]:
txt='The rain in Spain is Spain'
x=re.search('^The.* Spain$',txt)#starting with the ending with the spain with all characters in between
print(x)

<re.Match object; span=(0, 26), match='The rain in Spain is Spain'>

In [8]:
txt='The rain in Spain is Spain'
x=re.search('^The.* Spain$',txt)#starting with the ending with the spain with all characters in between
print(x)

<re.Match object; span=(0, 26), match='The rain in Spain is Spain'>

In [9]:
#finding all patterns
txt='The rain in spain'
x=re.findall('ai',txt)
print(x)

['ai', 'ai']

In [10]:
txt='The rain in spain'
x=re.findall('and',txt)
print(x)

[]

In [11]:
#find the first white space position

txt='The rain in spain'
x=re.search('\s',txt)
print(x)
print('The first white space character is located in position:',x.start())

<re.Match object; span=(3, 4), match=' '>
The first white space character is located in position: 3

In [12]:
#split at each white space character
txt='The rain in spain'
x=re.split('\s',txt)
print(x)

['The', 'rain', 'in', 'spain']

In [13]:
#Replace the white space with 9
txt='The rain in spain'
x=re.sub('\s','9',txt)
print(x)

The9rain9in9spain

In [14]:
#replace first n white space with 0
txt='The rain in spain'
x=re.sub('\s','0',txt,2)
print(x)

The9rain9in spain

In [1]:
#finding all lower case characters alphabetically between'a' and 'z'
import re
txt='The rain in sPain'
x=re.findall('[a-z]',txt)
print(x)

['h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'a', 'i', 'n']

In [16]:
#finding digit characters
txt='It will be 59 dollars'
x=re.findall('\d',txt)
print(x)

['5', '9']

In [17]:
#starting with he and two letters in between and ending with o
txt='hello world'
x=re.findall('h..lo',txt)
print(x)

['hello']

In [18]:
#check if the string contains 'a' followed by exactly two l characters:
import re
txt='The rain in spain falls mainly in the plain'
x=re.findall('al{2}',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['all']
Yes, there is atleast one match

In [19]:
#check if the string contains either falls or stays
txt='The rain in spain falls mainly in the plain'
x=re.findall('falls|in',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['in', 'in', 'in', 'falls', 'in', 'in', 'in']
Yes, there is atleast one match

In [4]:
#check if the string starts with 'the'
txt='The rain in spain falls mainly in the plain'
x=re.findall('\AT',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['T']
Yes, there is atleast one match

In [6]:
#finding characters except digit characters
txt='It will be 59 dollars'
x=re.findall('\D',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['I', 't', ' ', 'w', 'i', 'l', 'l', ' ', 'b', 'e', ' ', ' ', 'd', 'o', 'l', 'l', 'a', 'r', 's']
Yes, there is atleast one match

In [22]:
#find a match at all white space character
txt='The rain in spain'
x=re.findall('\s',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

[' ', ' ', ' ']
Yes, there is atleast one match

In [23]:
#find a match at all non-white space character
txt='The rain in spain'
x=re.findall('\S',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
Yes, there is atleast one match

In [24]:
#Find a match at character a-z,A-Z,0-9,_
txt='The rain in spain_2019!,'
x=re.findall('\w',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n', '_', '2', '0', '1', '9']
Yes, there is atleast one match

In [25]:
#find a match for a,r or n,finding individual characters
txt='The rain in spain'
x=re.findall('[arn]',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is atleast one match

In [26]:
#find charactrs b/w a-n
txt='The rain in spain'
x=re.findall('[a-n]',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is atleast one match

In [27]:
#find a match other than a,r or n,finding individual characters
txt='The rain in spain'
x=re.findall('[^arn]',txt)
print(x)

if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 's', 'p', 'i']
Yes, there is atleast one match

In [28]:
#find digits from 0-3
txt='The rain in spain129'
x=re.findall('[0123]',txt)
print(x)
if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['1', '2']
Yes, there is atleast one match

In [29]:
#check if strings has any characters from a to z lower case and A-Z upper case
txt='8 times before 11:45 AM'
x=re.findall('[a-zA-Z0-9]',txt)
print(x)
if x:
    print('Yes, there is atleast one match')
else:
    print('No match')

['8', 't', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', '1', '1', '4', '5', 'A', 'M']
Yes, there is atleast one match